/* EmployeList.css */

/* EmployeList.css */

.employe-list {
    background-color: #f8f9fa; /* Couleur de fond */
    border: 1px solid #ced4da; /* Bordure */
    padding: 20px;
    margin-bottom: 20px;
    max-width: 800px; /* Largeur maximale */
    text-align: center; /* Centrer horizontalement */
    margin: 0 auto; /* Centrer verticalement */
  }
  
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 10px;
    border-bottom: 1px solid #ced4da;
  }
  
  th {
    background-color: #343a40; /* Couleur de fond pour les en-têtes de colonnes */
    color: #fff; /* Couleur du texte pour les en-têtes de colonnes */
  }
  
  td {
    background-color: #fff; /* Couleur de fond pour les cellules */
    color: #495057; /* Couleur du texte pour les cellules */
  }
  
  tr:hover {
    background-color: #e9ecef; /* Couleur de fond au survol */
  }
  
  button {
    background-color: #680e17; /* Couleur de fond pour le bouton de suppression */
    color: #fff; /* Couleur du texte pour le bouton de suppression */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #680e17; /* Couleur de fond au survol du bouton de suppression */
  }
  .centered {
    text-align: center; /* Centrer horizontalement */
    margin: 0 auto; /* Centrer verticalement */
  }
  
  /* EmployeList.css */
  
  /* Ajout de styles pour les éléments ajoutés en React */
  
  .edit-form {
    margin-top: 20px; /* Ajout de marge en haut */
  }
  
  .edit-form h3 {
    margin-bottom: 10px; /* Ajout de marge en bas */
  }
  
  .edit-form input {
    display: block;
    width: 100%;
    margin-bottom: 10px; /* Ajout de marge en bas */
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  .edit-form button {
    background-color: #0f3a68; /* Couleur de fond pour le bouton "Modifier" (bleu) */
    color: #fff; /* Couleur du texte pour le bouton "Modifier" */
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px; /* Ajout de marge à droite */
  }
  
  .edit-form button:hover {
    background-color: #0f3a68; /* Couleur de fond au survol du bouton "Modifier" (bleu foncé) */
  }
  
  .edit-form button:last-child {
    margin-left: 10px; /* Ajout de marge à gauche pour le bouton "Annuler" */
  }
  /* EmployeList.css */
  
  /* EmployeList.css */
  
  .edit-button {
    background-color: #0f3a68; /* Couleur de fond pour le bouton "Modifier" (bleu) */
    color: #fff; /* Couleur du texte pour le bouton "Modifier" */
    border: none;
    padding: 5px 10px;
    margin-right: 10px;
    margin-left : 10px; /* Ajout de marge à droite */
    cursor: pointer;
  }
  
  .edit-button:hover {
    background-color: #0f3a68; /* Couleur de fond au survol du bouton "Modifier" (bleu foncé) */
  }
  
  /* EmployeList.css */
  
  /* Ajout de styles pour les éléments ajoutés en React */
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2c3e50; /* Couleur de fond plus sombre */
    color: #fff; /* Couleur du texte en blanc */
    padding: 40px; /* Augmentation de l'espacement intérieur */
    border: 1px solid #34495e; /* Bordure légèrement plus foncée */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5); /* Ombre plus prononcée */
    width: 500px; /* Largeur du pop-up */
    max-width: 90%; /* Largeur maximale du pop-up */
  }
  
  .modal h3 {
    margin-bottom: 20px; /* Espacement sous le titre */
  }
  
  .modal .input-group {
    margin-bottom: 20px; /* Espacement entre chaque groupe de libellé + champ de saisie */
  }
  
  .modal label {
    display: block; /* Afficher les libellés sur une ligne différente */
    margin-bottom: 10px; /* Espacement sous chaque libellé */
  }
  
  .modal input {
    width: calc(100% - 20px); /* Largeur des champs de saisie avec espacement */
    padding: 10px;
    font-size: 14px;
    border: 1px solid #34495e; /* Bordure légèrement plus foncée */
    border-radius: 4px;
    background-color: #34495e; /* Couleur de fond des champs */
    color: #fff; /* Couleur du texte en blanc */
  }
  
  .modal button {
    background-color: #2980b9; /* Couleur de fond du bouton en bleu industriel */
    color: #fff; /* Couleur du texte en blanc */
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    margin-right: 10px; /* Espacement entre les boutons */
  }
  
  .modal button:last-child {
    margin-right: 0; /* Aucun espacement à droite pour le dernier bouton */
  }
  
  .modal button:hover {
    background-color: #1a5276; /* Couleur de fond du bouton au survol */
  }
  
  /* Ajouter des styles pour le pop-up de suppression */
  .confirm-delete {
    background-color: #f8d7da; /* Couleur de fond pour la mise en garde */
    color: #721c24; /* Couleur du texte pour la mise en garde */
    border: 1px solid #f5c6cb; /* Bordure */
    padding: 20px; /* Espacement intérieur */
    border-radius: 4px; /* Coins arrondis */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Ombre légère */
  }
  
  .green-button {
    background-color: #34465b; /* Bleu-gris industriel */
    color: #fff; /* Texte blanc */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .green-button:hover {
    background-color: #405671; /* Teinte légèrement plus foncée au survol */
  }
  .title-and-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px; /* Ajustez selon vos besoins */
  }
  .industrial-title {
    font-family: 'Roboto Condensed','Montserrat', sans-serif; /* Utilisez le nom de la police importée */
    font-size: 30px; /* Taille de police plus grande */
    color: #34465b; /* Couleur bleu-gris industrielle */
    margin-bottom: 0; /* Ajustez selon vos besoins */
  }
  
  